.menubody2{
    display: inline-flex;
}

.menuhotel{
    background-color: #171a29;
    /* margin-top: 2cm; */
    height: 4cm;
    width: 100%;

    color: white;

    padding: 1.3cm;
    padding-left: 3cm;
    padding-top: 3cm;

}

.alternatemenuhotel{
    background-color: #171a298e;
        /* margin-top: 2cm; */
        height: 4cm;
        width: 100%;
    
        color: white;
    
        padding: 1.3cm;
        padding-left: 3cm;
        padding-top: 3cm;
}

.menuhotelname{
    position: relative;
    top: -3.3cm;
    padding-left: 1cm;

    font-size: 35px;
    font-weight: 400;
}

.menuhotelratings{
    padding-right: 1cm;
    font-size: 16px;
    color: white;

    border-right: 1px solid rgba(182, 181, 181, 0.724);
}

.menucusines{
    color: rgb(181, 181, 181);

    position: relative;
    top: -3cm;
    left: 7.3cm;

    font-size: 14px;
    
    /* padding-left: 1cm; */
}

.menuhotelDistance{
    padding-left: 0.5cm;
    padding-right: 1cm;

    border-right: 1px solid rgba(182, 181, 181, 0.724);
}

.menuhotelServing{
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

.menuratingArea{
    display: flex;

    position: relative;
    top: -2.2cm;
    left: 7.4cm;
}

.menuratingAreaRow1{
    font-size: 15px;
    font-weight: 600;
}

.menuratingAreaRow2{
    font-size: 12px;
    font-weight: 100;

    margin-top: 5px;

    color: rgba(255, 255, 255, 0.679);
}

.menuhotelBar{
    margin-left: 30px;
    font-size: 34px;

    font-weight: 100;
    color: rgba(179, 178, 178, 0.812);
}

.menuhotelDistance, .menuhotelServing{
    margin-left: 30px;
}

.hotelimg{
    height: 4.3cm;
    width: 6cm;
}

.menurowlast{
    font-size: 14px;
    font-weight: 600;

    position: relative;
    top:-45px;
    left: 7.3cm;

    z-index: 1;
}

.menuvegonly,.menufavo,.menusearch{
    background-color: white;
    color: #171a29d2;
    box-shadow: 1px 2px 4px 1px rgb(231, 231, 231);
    
    padding: 9px;
}

.menusearchip{
    border: 1px white solid;
    outline: none !important;
    font-weight: 600;
}

.menuvegonly:hover{
    cursor: pointer;
}

.menufavo:hover{
    cursor: pointer;
}

.menuvegonlycheckbox{
    /* border-radius: 0px;
    border: 2px solid #171a29; */
    color: #171a29;
    background-color: #60b246;
    margin: 6px;
}

#vegchecked{
    color: #60b246;
}

.menufavoheart{
    font-size: 20px;
    padding: 5px;
}

.menuvegonly,.menufavo{
    margin-left: 1cm;
}

.menuvegonly:hover{
    cursor: pointer;
    color: #60b246;
}

.menufavo:hover{
    cursor: pointer;
    color: #fa4a5b;
}

.colorTheHeart{
    color: #fa4a5b;
    animation-name: pulsate;
    animation-duration: 2s;
}
@keyframes pulsate{
    50% {font-size: xx-small;}
    100% {font-size: small;}
}

.menumenu{
    width: 13cm;
    height: 12cm;
    padding: 20px;
    padding-left: 2cm;
    padding-right: 2cm;
    background-color: white;

    border-left: solid 1px rgb(199, 197, 197);

    margin-left: 8cm;

    overflow-y: scroll;
}

.menumenu::-webkit-scrollbar{
    display: none;
}

.onemenu{
    /* background-color: aquamarine; */
    padding-top: 1cm;
    
}

.menudetails{
    padding-top: 0.8cm;
    padding-bottom: 0.8cm;
}

.veglogo{
    height: 17px;
}

.nonveglogo{
    height: 15px;
}

.menuname,.menuprice{
    margin-top: 10px;
}

.menuname,.menuprice {
    margin-top: 10px;
}

.menuimg{
    position: relative;

    top: -3.5cm;
    float: right;
}
.mmenuimg{
    height: 2.7cm;
    width: 3cm;
    border-radius: 7px;
}

.addlink{
    position: relative;
    top: -10px;
    left: 12px;

    width: 1cm;
    color: rgb(3, 161, 3);
    background-color: white;
    font-size: small;
    font-weight: 600;

    border: 1px solid rgb(201, 200, 200);
    
    border-radius: 4px;

    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    text-decoration: none;
}

.addlink:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(200, 199, 199);
}

.addlinkNew{
    width: 2cm;

    padding-left: 12px;
    padding-right: 0px;
}

.menuCart{
    background-color: white;

    margin-left: 1.5cm;
    color: rgb(156, 155, 155);

    height: 7cm;
    width: 8cm;
}

.menuCartI{
    /* background-color: cornsilk; */
    
    margin-left: 1.5cm;
    color: rgba(13, 13, 13, 0.849);
    
    height: 7cm;
    width: 8cm;
}

.cartsubtotalarea{
    margin-top: 15px;
}

.carttotal{
    color: rgb(96, 96, 96);
    font-size: x-small;
    margin-top: -20px;

    font-weight: 700;
}

.cveglogo,.cnonveglogo{
    height: 10px;
}

.itemsrow{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cartitemsrow{
    margin-top: 10px;
    height: 5cm;
    overflow-y: auto;
}

.cmenuname{
    font-size: 13px;
}

.cmenuquantity{
    float: right;
    margin-right: 20px;
}

.cmenuprice{
    font-size: 13px;
    float: right;

    color: rgb(96, 96, 96);
}

.cartsubtotal{
    font-size: 16px;
    font-weight: 600;
}

.cartamount{
    font-size: 16px;
    font-weight: 700;

    float: right;
}

.extra{
    font-size: 10px;
    font-weight: 500;
    color: rgb(96, 96, 96);
}

.checkout{
    padding-left: 50px;
    padding-right: 50px;
    padding: 10px;
    text-align: center;

    background-color: #60b246;

    margin-top: 30px;
    /* width: 8cm; */
}
.cartcheckout{
    text-decoration: none;
    

    font-weight: 700;
    font-size: 17px;

    background-color: #60b246;
    color: white;

    padding-left: 50px;
    padding-right: 50px;
    padding: 5px;
}

.spanaddingbody{
    position: relative;
    top: -10px;
    left: 12px;

    z-index: 0;
    
    width: 1cm;
    height: 25px;
    background-color: white;

    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    border: 1px solid rgb(201, 200, 200);
    border-radius: 5px;

    color: #60b246;

    font-size: small;
    font-weight: 600;
}

.spanaddingbody:hover{
    box-shadow: 1px 1px 1px 1px rgb(200, 199, 199);
}

.spandecr:hover{
    cursor: pointer;
}

.spantext{
    margin-left: 15px;
    margin-right: 15px;
}

.spanincr:hover{
    cursor: pointer;
}

.cartfrom{
    font-size: small;
    color: #171a29cf;
    font-weight: 700;
}

.cartforeign{
    font-size: small;
    color: rgb(33, 122, 211);
    font-weight: 700;
}

.cartforeign:hover{
    cursor: pointer;
}

.dontShow{
    visibility: hidden;
}