.QVflexBody{
    display: flex;
    z-index: 50;
}

.QVBody{
    background-color: white;
    height: 11.5cm;
    width: 7cm;
    z-index: 50;

    position: relative;
    left: 5.6cm;
    top: -14.5cm;

    box-shadow: 2px 2px 3px 5px rgba(227, 226, 226, 0.715);
    animation-name: appear;
    animation-duration: 1s;
}
@keyframes appear{
    50%{width: 10cm;}
    100%{width: 7cm;}
}

.QVBody2{
    width: 5cm;
    height: 11.5cm;

    position: fixed;
    left: 2cm;
    top: -14.5cm;
}

.QVSubBody{
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;

    justify-content: center;
    align-items: center;

    text-align: center;

    color: rgb(92, 92, 92);
}

.QVTitle{
    text-transform: capitalize;
    letter-spacing: 6px;
    font-size: x-large;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-stretch: extra-condensed;
}

.QVmenuList{
    font-size: small;
    margin-top: 15px;
    margin-bottom: 15px;
}

.QVmenuName:hover{
    font-weight: 600;
}

.QVDesign{
    margin-top: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}